@import "tailwindcss";



*{ font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Prevent horizontal overflow globally */
html, body {
  overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6{
    
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;

}